<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/main-layout :: head (pageTitle = 'Catalog')" th:remove="tag"></div>
    <link rel="stylesheet" th:href="@{/css/src/catalog.css}" href="../static/css/src/catalog.css">
    <script th:src="@{/js/src/catalog.js}" src="../static/js/src/catalog.js"></script>
</head>
<body>
    <header th:replace="fragments/main-layout :: header"></header>
    <nav th:replace="fragments/main-layout :: menu"></nav>
    <div class="container" id="content">
    <div class="list-group mb-3" id="publications">
        <div class="publication list-group-item">
            <h3 class="title">The New York Times</h3>
            <div class="about">
                <div class="period">Period: 7</div>
                <div class="cost">Cost: 15</div>
                <div class="description">-</div>
            </div>
            <div class="add-to-basket-div justify-content-center d-flex">
                <div>
                    <input class="publications-number" type="number" min="1" value="1" id="pn1">
                    <button class="add-to-basket btn btn-primary" type="button" id="ap1">Add</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer th:replace="fragments/main-layout :: footer"></footer>
</body>
</html>