<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/main-layout :: head (pageTitle = 'Edit')" th:remove="tag"></div>
    <link rel="stylesheet" th:href="@{/css/src/edit.css}" href="../static/css/src/edit.css">
    <script th:src="@{/js/src/edit.js}" src="../static/js/src/edit.js"></script>
</head>
<body>
<header th:replace="fragments/main-layout :: header"></header>
<nav th:replace="fragments/main-layout :: menu"></nav>
<div class="container" id="content">
    <div class="row">
    <div class="col">
    <h3 class="title">Publication form</h3>
    <form name="publication">
        <div class="form-group">
            <label for="publicationId">Id:</label>
            <input class="form-control" id="publicationId" type="number" min=-5 value=1 step=1>
        </div>
        <div class="form-group">
            <label for="publicationName">Name:</label>
            <span class="validationError" id="namePublicationError"></span><br>
            <input class="form-control" id="publicationName" name="name" type="text">
        </div>
        <div class="form-group">
            <label for="publicationPeriod">Period:</label>
            <span class="validationError" id="periodPublicationError"></span><br>
            <input class="form-control" id="publicationPeriod" name="period" type="text">
        </div>
        <div class="form-group">
            <label for="publicationCost">Cost:</label>
            <span class="validationError" id="costPublicationError"></span><br>
            <input class="form-control" id="publicationCost" name="cost" type="text">
        </div>
        <div class="form-group">
            <label for="publicationDescription">Description:</label>
            <span class="validationError" id="descriptionPublicationError"></span><br>
            <input class="form-control" id="publicationDescription" name="description" type="text">
        </div>
    </form>
    </div>
    <div class="col-sm-2 d-flex flex-column">
        <h3 class="title">Actions</h3>
        <button class="btn btn-primary" id="selectPublication">Select</button>
        <button class="btn btn-primary" id="deletePublication">Delete</button>
        <button class="btn btn-primary" id="showAllPublications">Show All</button>
        <button class="btn btn-primary" id="addPublication">Add</button>
        <button class="btn btn-primary" id="replacePublication">Replace</button>
    </div>
    </div>
    <div class="fixed-bottom p-3 d-none" id="info">editing...</div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Period</th>
                <th>Cost</th>
                <th>Description</th>
            </tr>
            </thead>
            <tbody id="ptbody">
            <tr>
                <td>1</td>
                <td>The New York Times</td>
                <td>7</td>
                <td>15</td>
                <td>-</td>
            </tr>
            </tbody>
        </table>
</div>
<footer th:replace="fragments/main-layout :: footer"></footer>
</body>
</html>