<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Please sign in</title>
</head>
<body>
    <h1>Login page</h1>
    <form th:action="@{/login}" method="post">
        <div id="error-credentials" th:if="${param.error}" style="color:red">Wrong username and password</div>
        <div id="logout-message" th:if="${param.logout}" style="color:green">Successfully logged out</div>
        <label for="username">Username: </label>
        <input id="username" name="username" type="text">
        <label for="password">Password: </label>
        <input id="password" name="password" type="password">
        <button id="submit" type="submit">Log in</button>
    </form>
    <script>
        window.onload = function() {
            document.getElementById("username").focus();
        }
    </script>
</body>
</html>