<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/main-layout :: head (pageTitle = 'Login')" th:remove="tag"></div>
    <link rel="stylesheet" th:href="@{/css/src/login.css}" href="../static/css/src/login.css">
</head>
<body>
    <div class="container d-flex justify-content-center" id="content">
    <div class="d-flex justify-content-center flex-column">
        <div id="loginForm">
        <h2 class="mb-4 text-center">Please login</h2>
        <form th:action="@{/login}" method="post">
            <div class="form-group">
                <label for="username">Username: </label>
                <input class="form-control" id="username" name="username" type="text">
            </div>
            <div class="form-group">
                <label for="password">Password: </label>
                <input class="form-control" id="password" name="password" type="password">
            </div>
            <div class="mb-3" id="error-credentials" th:if="${param.error}" style="color:red">
                Wrong username and password
            </div>
            <div class="d-flex justify-content-center">
            <button class="btn btn-primary" id="submit" type="submit">Log in</button>
            </div>
        </form>
        </div>
    </div>
    </div>
    <script>
        window.onload = function() {
            document.getElementById("username").focus();
        }
    </script>
</body>
</html>