<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/main-layout :: head (pageTitle = 'Registration success')" th:remove="tag"></div>
</head>
<body>
    <div class="container" style="background-color: azure">
        <h2 class="mt-3" style="color: yellowgreen">Order registered!</h2>
        <h4 class="mt-4" style="font-style: oblique; font-family: sans-serif;">
            Total cost: <span id="basketCost" th:text="${basketCost.dollars == null ?
            '0.00$' : basketCost.dollars + '.' + (basketCost.cents < 10 ? '0' : '') + basketCost.cents + '$'}"></span>
        </h4>
        <h3 class="text-right"><a th:href="@{/}">Home</a></h3>
    </div>
</body>
</html>